@import "tailwindcss";

@layer base {
  body {
    font-family: "Mynerve", system-ui, sans-serif;
  }
}
@theme {
  --color-primary: #cba6f7;
  --color-secondary: #bac2de;
  --color-background: #1e1e2e;
  --color-surface: #313244;
  --color-text: #cdd6f4;
  --color-danger: #f38ba8;
}

